<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docx</title>
</head>
<body>
<center>
    <h1 style="margin-top: 15%;">Download Your File From Here</h1>
    <form action="/docx" method="POST">
        <input value={{variable}} id="3" name="filename" type="hidden">
        <button style="padding: 10px 20px;
        background-color: red;
        width: 150px;
        height: 50px;
        border: 1px solid #ddd;
        color: white;
        border-radius: 20px;
        font-size: larger;
        font-weight: 700;
        " class="btn"><i class="fa fa-download"></i>Download</button>
    </form>
</center>

</body>
</html>